<!-- No config needed -->
<?php
    // set to defaults if undefined
    if (!isset($config->recaptcha)) {
        $config->recaptcha = false;
    }

    $yesno = array( get_string('no'), get_string('yes') );

?>

<table cellspacing="0" cellpadding="5" border="0">
<tr>
   <td colspan="3">
        <h2 class="main"><?php print_string('auth_accesscodesettings', 'auth_accesscode') ?> </h2>
   </td>
</tr>
<tr>
    <td align="right"><label for="menurecaptcha"><?php print_string('auth_accesscoderecaptcha_key', 'auth_accesscode') ?></label></td>
    <td><?php
        global $OUTPUT;
        echo html_writer::select($yesno, 'recaptcha', $config->recaptcha, false);
        ?></td>
    <td><?php print_string('auth_accesscoderecaptcha', 'auth_accesscode') ?></td>
</tr>
<?php

print_auth_lock_options($this->authtype, $user_fields, get_string('auth_fieldlocks_help', 'auth'), false, false);

?>
</table>
