#oublog-tags a {
    text-decoration:none;
}
#oublog-tags a:hover .oublog-tagname{
    text-decoration:underline;
}
.oublog-sideblock a:hover,
#oublog-links a:hover,
.oublog-post-links a:hover,
.oublog-post-top a:hover,
.oublog-post-bottom a:hover,
.oublog-paging a:hover,
.oublog-postedby a:hover {
    text-decoration:underline;
}

#oublog-feeds a {
    text-decoration:none;
}
#oublog-feeds a:hover .oublog-tagname{
    text-decoration:underline;
}

.oublog-post-date a, .oublog-post-tags a, .oublog-post-links a, .oublog-post-editsummary a, .oublog-post-attachments a {
    text-decoration: none;
}

.oublog-tagcount {
    margin-left:2px;
    font-size: 0.85em;
}

.oublog-tag-cloud-0 .oublog-tagname {
    font-size: 0.85em;
}

.oublog-tag-cloud-1 .oublog-tagname {
    font-size: 0.95em;
}

.oublog-tag-cloud-2 .oublog-tagname {
    font-size: 1.1em;
}

.oublog-tag-cloud-3 .oublog-tagname {
    font-size: 1.25em;
}

.oublog-tag-cloud-4 .oublog-tagname {
    font-size: 1.4em;
}

#page-mod-oublog-view #middle-column .singlebutton {
    margin-bottom:1em;
}

.oublog-post {
    padding: 1em;
    min-height:0; /* ie7 */
}
.oublog-post.oublog-odd, .oublog-post-commented {
    background-color: #F2F2F2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.oublog-sideblock {
    border: 1px solid #ddd;
    margin: 0 0 1em;
    padding: 0.5em;
    background-color: #F2F2F2;
    min-height:0; /* ie7 */
}
.ie6 .oublog-post *, .ie6 .oublog-comment *,
.ie6 .oublog-post, .ie6 .oublog-comment {
    height:0;
}
.ie6 .oublog-post img,
.ie6 .oublog-comment img,
.ie6 .oublog-post ul,
.ie6 .oublog-comment ul,
.ie6 .oublog-post ol,
.ie6 .oublog-comment ol,
.ie6 .oublog-post li,
.ie6 .oublog-comment li {
    height:auto;
}
.oublog-post .oublog-post-top {
    margin-bottom: 1em;
}
.oublog-post .oublog-post-top-details {
    margin-left: 80px;
}

.oublog-post-date, .oublog-post-visibility, .oublog-post-tags, .oublog-post-links, .oublog-post-editsummary, .oublog-links {
    font-size: 0.85em;
}

.oublog-post-tags {
    margin-bottom:0.7em;
}

.oublog-post-links a {
    margin-right: 1em;
}

.oublog-postedby {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.oublog-post-visibility {
    margin-bottom: 0.4em;
    font-weight: bold;
}

.oublog-post h2.oublog-title {
    margin: 0 0 0.5em 0;
    font-size: 1.2em;
}

.oublog-post h3.oublog-title {
    font-size: 1em;
    margin: 0 0 0.5em 0;
    padding-bottom: 4px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #aaaaaa;
}

.oublog-post .oublog-post-attachments {
    float: right;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #E7E7E7;
    width: 200px;
    margin-bottom: 1em;
    font-size: 0.85em;
}
.oublog-post .oublog-post-attachment {
    display: inline;
    word-break: break-all;
    margin-right: .75em;
}

.oublog-post-content,
.oublog-comment-content {
    margin:0.4em 0;
    margin-bottom:1.2em;
    min-height:0; /* ie7... */
    clear: both;
}
.ie6 .oublog-post-content,
.ie6 .oublog-comment-content {
    height:auto !important;
    width:99%; /* for some reason it actually believes 'height' on this element */
}

.oublog-deleted {
    color: #aaa;
}

.oublog-paging {
    border-top: 1px solid #F2F2F2;
    margin-top: .5em;
    margin-bottom: 1em;
}

#oublog-single-post-view .oublog-post {
    border: none;
    background-color: transparent;
    padding: 0;
}
#oublogcomments {
    padding: 1em;
}
#oublogcomments.oublogpartcomments {
    background-color: #F2F2F2;
}
#oublogcomments .oublog-comment {
    padding: 1em;
    background-color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: .5em;
}

#oublogcomments .oublog-comment h2.oublog-commentstitle {
    margin-top: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #F2F2F2;
}

.oublog-comment .oublog-userpic {
    margin-right: 10px;
    margin-bottom: 1em;
}
.oublog-comment h2.oublog-title {
    margin: 0 0 0.5em 0;
    font-weight: normal;
}
.oublog-comment h2.oublog-comment-title {
    margin: 0 0 0.5em 0;
    font-size:1em;
    font-weight: normal;
    padding-bottom: 4px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #aaaaaa;
}

.oublog-comment h3.oublog-comment-title {
    margin: 0 0 0.5em 0;
    font-size: 1em;
    padding-bottom: 4px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #aaaaaa;
}

.oublog-comment h3, .oublog-comment h4 {
    margin: 0em;
}

.oublog-comment-date, .oublog-comment-visibility, .oublog-comment-tags, .oublog-comment-links, .oublog-comment-editsummary {
    font-size: 0.85em;
}

.oublog-views {
    text-align: center;
    font-size: 0.85em;
}

.feedicon {
    vertical-align: middle;
    margin-right: 4px;
    margin-left: 120px;
    border:0px;
 }

.oublog-post-deletedby, .oublog-comment-deletedby {
    color:#8D0047;
    font-weight: bold;
}
.oublog-comment-deletedby {
    margin-bottom: 8px;
}

.oublog-topofpage {
    clear:both;
    padding-bottom:1em;
}

#page-mod-oublog-view #left-column,
#page-mod-oublog-allposts #left-column {
  width:12em;
    float:left;
}
#page-mod-oublog-view #right-column,
#page-mod-oublog-viewpost #right-column,
#page-mod-oublog-viewedit #right-column,
#page-mod-oublog-allposts #right-column {
  width:12em;
    float:right;
}

#page-mod-oublog-view #middle-column.has-left-column,
#page-mod-oublog-viewpost #middle-column.has-left-column,
#page-mod-oublog-allposts #middle-column.has-left-column {
  margin-left:13em;
}

.oublog-userpic {
    float: left;
    width: 70px;
    padding-top: .25em;
}
.oublog-userpic .userpicture {
    width: 70px;
    height: 70px;
}

#page-mod-oublog-view .groupselector {
  float: none;
  display:inline;
  margin-right:1em;
  margin-bottom:0.5em;
}

.oublog-individualselector {
  font-size:0.85em;
  display:inline;
  margin-right:0.5em;
  margin-bottom:0.5em;
  white-space: nowrap;
}
div.oublog-individualselector {
  font-size:0.85em;
}
.oublog-groups-individual-selectors {
  margin-bottom:1.0em;
  line-height: 1.6em;
}

.oublog-post-content,.oublog-comment-content {
  overflow:hidden;
}

.oublog-awaiting {
    margin-top: 2em;
}
.oublog-awaiting .oublog-comment-content {
    margin-bottom: 0.5em;
}
.oublog-awaiting form {
    margin: 0 0 1.5em;
}
.oublog-awaiting input {
    font-size: 0.85em;
}

.oublog-rejected {
    color: #aaa;
}
.oublog-rejected-info {
    color: black;
    margin-bottom: 0.5em;
    font-size: 0.85em;
    display: inline;
}

.oublog-newerposts {
    margin: .5em 0 1em;
    float: right;
}
.oublog-olderposts {
    margin: .5em 0 1em;
    float: left;
}
.oublog-newerposts a, .oublog-olderposts a {
    text-decoration: none;
}
#page-mod-oublog-participation table#participation {
    margin-top: 1em;
}

#oublogbuttons form,
#oublogbuttons div {
    display: inline;
}
#oublogbuttons {
    margin-bottom: 1em;
}
#oublogbuttons .participationbutton {
    margin-left: 0.5em;
}
#page-mod-oublog-editpost .fp-pathbar {
    display: none;
}
#oublog-links a {
    text-decoration: none;
}
#oublog-links .unlist form div {
    display: inline;
}
#oublog-feedtext {
    font-size: 0.85em;
}
.oublog-feedlinks a {
    text-decoration: none;
}
#addexportpostsbutton {
    clear:both;
}
