/** LEGO **/

/*TOPO*/
body {
   font-family: Arial,Helvetica,sans-serif !important;
   background-attachment: fixed;
   background-image: url([[pix:theme|fundo_lego2]]);
}
a:link,a:visited {color: #0e5e9e;}
a:hover,a:active {color: #0e5e9e;}

#page, div, p, li, input, option, textarea, h1, h2, h3, h4, h5 {
    font-family: Arial,Helvetica,sans-serif !important;
}

input[type="submit"]{
   border: 1px solid #0E5E9E;
   padding: 3px 5px;
   color: #0E5E9E;
   font-weight: bold;
   border-radius: 10px;
}
input[type="submit"]:hover{
   color: #000;
   border-color: #000;
}
input[type="submit"]:active{
   color: #CCC;
   border-color: #CCC;
}

.generalbox .header{
   background-color: #0E5E9E !important;
   border: 1px solid #FFF !important;
   border-bottom-color: #FFF !important;
}

#header{
  width:100%;
  float:none;
  background: url([[pix:theme|topo]]) no-repeat scroll center top transparent;
  height: 160px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-width: 0px !important;
}

#header-topo{
   width: 960px;
   margin: 0 auto;
   height: 90px;
}

/*** HEADER GENERAL ***/
#logo {
    float: left;
    width: 440px;
    margin-top: 24px;
}
#nome-moodle {
    float: right;
	margin-top: 59px;
}
#nome-moodle h1{
    font-size: 1.3em;
	margin-left:0px;
}
/*** HEADER COURSE ***/
.pagelayout-course #header-topo,
.pagelayout-incourse #header-topo{
   background: url([[pix:theme|lego2-bg-min]]) no-repeat 270px 59px transparent;
}
.pagelayout-course #nome-moodle,
.pagelayout-incourse #nome-moodle {
    float: left;
    width: 440px;
    margin-top: 5px;  
}
.pagelayout-course #nome-moodle h1,
.pagelayout-incourse #nome-moodle h1{
    font-size: 1.5em;
	font-family: Arial,Helvetica,sans-serif !important;
	color: #000;
}
/******* PROFILE TOPO *******/
#profilepic {
text-align : right;
float : right;
margin-top : 2px;
margin-left : 2px;
margin-bottom : 2px;
margin-right : 3px;
width : 80px;
height : 80px;
border : 1px solid #eeeeee;
display : inline;
}
#profilepic img {
width : 74px;
height : 74px;
border : 3px solid #ffffff;
}
#profilelogin {
text-align : right;
width : 390px;
margin-right : 0;
margin-top : 40px;
float : right;

}
#profilelogin ul li {
padding-left : 10px;
padding-right : 0;
display : inline;
margin-right : 0;
color:#aeaeae;
}
.profilelogin .loginform {
width : 7em;
margin-left : 4px;
display : inline;
background:#eeeeee;
border:1px solid #cccccc;
color:#333333;
padding:4px;
}
#profilename {
text-align : right;
width : 390px;
margin-right : 0;
margin-top : 40px;
margin-bottom : 0;
float : right;
padding-top: 14px;
}
#profilename ul li {
padding-left : 10px;
padding-right : 0;
display : inline;
margin-right : 0;
}
#profilename img {
vertical-align : middle;
}
.profilename .loginform {
width : 5em;
margin-left : 4px;
display : inline;
font-size : 0.8em;
}
.profilename, .profilename a {
font-size : 1.2em;
letter-spacing : 0px;
text-decoration : none;
font-weight : bold;
margin-right : 2px;
}
#profilebar {
background : #F3F3F3;
border : 1px solid #cccccc;
margin-right : auto;
margin-left : auto;
width : 960px;
clear : both;
font-size : 12px;
font-weight : 200;
}

#profilebar h4 {
padding : 0 0 10px 10px;
font-size : 12px;
text-transform : uppercase;
margin : 0 !important ;
font-weight : 400;
color : #333333;
padding-top : 8px;
}

#profilebar .block {
margin : 0 !important ;
padding : 0px !important ;
border : 0px !important ;
background : transparent !important ;
}

#profilebar .block_action {
display : none !important ;
}

#profilebar .event {
    margin-left: 20px;
}


#profilebar .date {
    font-size: 0.85em;
    font-style: italic;
    font-weight: normal;
    margin-left: 20px;
}

#profilebar hr {
height : 1px;
color : #cccccc;
background-color : #cccccc !important ;
border : none;
border-style : none;
}

.profilebar_block, .profilebar_events, .profilebar_account {
float:left;
padding : 10px;
min-height : 160px;
overflow : hidden;
}
.profilebar_block, .profilebar_events {
width : 250px;
}
.profilebar_account {
width : 398px;
}
#profileoptions ul li {
padding-left : 0;
padding-right : 0;
list-style-type : none;
margin-right : 0;
}
#profileoptions img {
vertical-align : middle;
padding : 2px;
}
.profileoptions, .profileoptions a {
background-color : transparent;
}
.profileoptions a:hover {
background-color : transparent;
}

.profilebarclear {
	clear:both;
}
/*** END PROFILE TOPO ***/

/* Breadcrumb 
--------------------------- */
.navbar {
   font-size:1em;margin:0;padding:0px;
   margin-left: 0px;
   position: absolute;
   top: 112px;
}
.pagelayout-course .navbar ,
.pagelayout-incourse .navbar {
   font-size:1em;margin:0;padding:0px;
   margin-left: 0px;
   padding-top: 28px !important;
   position: relative;
   top: 0px;
}

.navbar .breadcrumb{font-size:1em;font-weight:700;padding:6px;}
.breadcrumb a,.breadcrumb a:link,.breadcrumb a:active{color:#0e5e9e;}
.sep{background:url(image.php?theme=lego2&image=breadcrumb_arrow&component=theme) no-repeat scroll 100% 50%;margin-right:5px;padding:0.98em 7px;color:#FFF;}

.navbar .navbutton .singlebutton { margin: 4px;}

.navbutton #coursesearchnavbar, #conteudo-centro #coursesearch2, #conteudo-centro .categorypicker{
   display:none;
}

#page-topo{
   background: url([[pix:theme|page-topo]]) no-repeat scroll center center transparent;
   height: 9px;
   clear: both;
}
#page{
   margin: 0 auto;
   width: 961px;
   background: url([[pix:theme|page]]) repeat-y scroll center center transparent;
   clear: both;
}
.pagelayout-report #page {
   width: 960px;
}

#page-content{
   background-color: transparent;
}

#conteudo-centro{
   background: url([[pix:theme|conteudo-rodape]]) no-repeat scroll center bottom #FFF;
   border: 1px solid #C8C9C7;
   padding-bottom:30px;
}
.opera #conteudo-centro, .safari #conteudo-centro, .gecko #conteudo-centro{
    border-radius: 10px 10px 10px 10px;
}

#page-rodape{
   background: url([[pix:theme|page-rodape]]) no-repeat scroll center center transparent;
   height: 25px;
}

/*** HEADER COURSE ***/
.pagelayout-course #page-content #region-main,
.pagelayout-incourse #page-content #region-main {
   width: 760px;
}
.pagelayout-course .course-content .headingblock,
.pagelayout-incourse .course-content .headingblock{
   display:none;
}
.pagelayout-course .course-content ul.topics,
.pagelayout-incourse .course-content ul.topics {
   margin-bottom: 30px;
}
.pagelayout-course .tabtree .tabrow0,
.pagelayout-course  .tabtree,
.pagelayout-incourse .tabtree .tabrow0,
.pagelayout-incourse  .tabtree{
   margin-bottom:0px;
}
.pagelayout-course .course-content ul.topics li.section,
.pagelayout-incourse .course-content ul.topics li.section {
   margin-top:0px;
}

.block{
   background-color: transparent;
}

.corner-box{
   background: url([[pix:theme|bloco-rodape]]) no-repeat scroll center bottom transparent;
   background-color: #FFFFFF !important;
}


#footer{
  background: #FFF;
  margin-top: 25px;
}
#footer-rodape{
  width: 960px;
  margin: 0 auto;
}
#footer-rodape #info{
  width:100%;
  float:left;
  margin: 25px 10px;
  text-align: right;
}
.pagelayout-course #footer-rodape #info,
.pagelayout-incourse #footer-rodape #info{
  width:300px;
  text-align: left;
}
.pagelayout-course #footer-rodape #logos,
.pagelayout-incourse #footer-rodape #logos{
  width:380px;
  float:right;
  padding: 25px 0px;
}
#footer-rodape #copyright{
background: url([[pix:theme|rodape_assinatura]]) no-repeat center;
vertical-align: bottom;
text-align: center;
color: #575756;
height: 100px;
float:left;
width:100%;
}

#footer-rodape .performanceinfo{
border: 1px solid #DDD;
padding: 10px;
margin: 15px 0px;
background: #F3F3F3;
font-style: italic;
}

#adminsearchquery{
    width:​ 150px !important;​
}

#region-content {
	padding: 0px 15px 0px 13px;
}

/*** Ajustes no lista de cursos ***/

.generalbox {
border-bottom: 1px solid #DDD;
border-left: none;
border-top: none;
border-right: none;
}

.coursebox .info {
margin-left: 30px;
}


/*** Ajustes no perfil de usuario ***/

.profilepicture {
margin-left: 30px;
}

/*** Ajustes no questionario ***/

.que .info {
background: transparent;
}

.othernav .singlebutton {
margin:0;
}

/*Fix overflow QUADRO DE NOTAS*/
.path-grade-report-grader .gradeparent, .gradetreebox, #page-content, #page-content #region-main , #page-content .region-content {
overflow: visible;
}
/*Icones de configuracao da tabela do quadro de notas - espacamento*/
.gradetreebox th.actions { padding-right:125px;}
#gradetreeform .action-icon {margin:5px !important;}

/*Links do cabecalho das tabelas GENERALBOX que tem fundo azul escuro*/
.generalbox .header a:link, .generalbox .header a:visited ,.generalbox .header a:hover{ color:#FFF !important;}

/*Elementos ACRESCENTAR ITEM*/
.mod-data-default-template {background: #FFF;}