/** LEGO **/

/*TOPO*/
body {
   font-family: Arial,Helvetica,sans-serif !important;
   background: url([[pix:theme|background]]) fixed no-repeat top center #186378;
}
a:link,a:visited {color: #971B1E;}
a:hover,a:active {color: #971B1E;}

#page, div, p, li, input, option, textarea, h1, h2, h3, h4, h5 {
    font-family: Arial,Helvetica,sans-serif !important;
}

input[type="submit"]{
   border: 1px solid #971B1E;
   padding: 3px 5px;
   color: #971B1E;
   font-weight: bold;
   border-radius: 10px;
}
input[type="submit"]:hover{
   color: #000;
   border-color: #000;
}
input[type="submit"]:active{
   color: #CCC;
   border-color: #CCC;
}

.generalbox .header{
   background-color: #971B1E !important;
   border: 1px solid #FFF !important;
   border-bottom-color: #FFF !important;
}

#header{
  width:100%;
  float:none;
  /*background: url([[pix:theme|topo2]]) repeat-x left bottom #FFF; tema 2012 */
  height: 135px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-width: 0px !important;
  margin-bottom: 10px;
}

#header-topo{
   width: 960px;
   margin: 0 auto;
   height: 90px;
}

/*** HEADER GENERAL ***/
#logo {
    float: left;
    width: 100%;
    margin:0px;
	margin-top:5px;
	margin-left: 12px;
}
/*** HEADER COURSE ***/
#logo-fafe{
	float:left;
	padding:18px;
	margin-left: 35px;
}
#nome-moodle{
    float: left;
	width: 540px;
	margin-left: 50px;
	line-height:10px;
}
#nome-moodle h1{
    font-size: 200%;
	font-family: 'Electrolize',Arial,Helvetica,sans-serif !important;
	color: #000;
	line-height: 36px;
}
/******* PROFILE TOPO *******/
#profilepic {
text-align : right;
float : right;
margin-top : 2px;
margin-left : 2px;
margin-bottom : 2px;
margin-right : 3px;
width : 80px;
height : 80px;
border : 1px solid #eeeeee;
display : inline;
}
#profilepic img {
width : 74px;
height : 74px;
border : 3px solid #ffffff;
}
#profilelogin {
text-align : right;
width : 390px;
margin-right : 0;
margin-top : 40px;
float : right;

}
#profilelogin ul li {
padding-left : 10px;
padding-right : 0;
display : inline;
margin-right : 0;
color:#aeaeae;
}
.profilelogin .loginform {
width : 7em;
margin-left : 4px;
display : inline;
background:#eeeeee;
border:1px solid #cccccc;
color:#333333;
padding:4px;
}
#profile-topo {
	padding: 10px;
}
#profilename {
text-align : right;
width : 50px;
margin: 0px;
float : right;
margin-top: -8px;
}
#profilename ul li {
padding-left : 10px;
padding-right : 0;
display : inline;
margin-right : 0;
}
#profilename img {
vertical-align : middle;
}
.profilename .loginform {
width : 5em;
margin-left : 4px;
display : inline;
font-size : 0.8em;
}
.profilename, .profilename a {
font-size : 1.2em;
letter-spacing : 0px;
text-decoration : none;
font-weight : bold;
margin-right : 2px;
}
#profilebar {
background : #F3F3F3;
border : 1px solid #cccccc;
margin-right : auto;
margin-left : auto;
width : 960px;
clear : both;
font-size : 12px;
font-weight : 200;
}

#profilebar h4 {
padding : 0 0 10px 10px;
font-size : 12px;
text-transform : uppercase;
margin : 0 !important ;
font-weight : 400;
color : #333333;
padding-top : 8px;
}

#profilebar .block {
margin : 0 !important ;
padding : 0px !important ;
border : 0px !important ;
background : transparent !important ;
}

#profilebar .block_action {
display : none !important ;
}

#profilebar .event {
    margin-left: 20px;
}


#profilebar .date {
    font-size: 0.85em;
    font-style: italic;
    font-weight: normal;
    margin-left: 20px;
}

#profilebar hr {
height : 1px;
color : #cccccc;
background-color : #cccccc !important ;
border : none;
border-style : none;
}

.profilebar_block, .profilebar_events, .profilebar_account {
float:left;
padding : 10px;
min-height : 160px;
overflow : hidden;
}
.profilebar_block, .profilebar_events {
width : 250px;
}
.profilebar_account {
width : 398px;
}
#profileoptions ul li {
padding-left : 0;
padding-right : 0;
list-style-type : none;
margin-right : 0;
}
#profileoptions img {
vertical-align : middle;
padding : 2px;
}
.profileoptions, .profileoptions a {
background-color : transparent;
}
.profileoptions a:hover {
background-color : transparent;
}

.profilebarclear {
	clear:both;
}
/*** END PROFILE TOPO ***/

/* Breadcrumb 
--------------------------- */
.navbar {
   font-size:1em;margin:0;padding:0px;
   margin-left: 0px;
   position: relative;
   top: 25px;
   margin-bottom: 40px;
   border: 1px solid #E6E7E8;
   border-radius: 10px 10px 10px 10px;
   margin-left: 10px;
   margin-right: 10px;
}

.navbar .breadcrumb{font-size:1em;font-weight:700;padding:6px;}
.breadcrumb a,.breadcrumb a:link,.breadcrumb a:active{color:#971B1E;}
.sep{background:url(image.php?theme=lego&image=breadcrumb_arrow&component=theme) no-repeat scroll 100% 50%;margin-right:5px;padding:0.98em 7px;color:#FFF;}

.navbar .navbutton .singlebutton { margin: 4px;}

.navbutton #coursesearchnavbar, #conteudo-centro #coursesearch2, #conteudo-centro .categorypicker{
   display:none;
}

#page-topo{
   background: url([[pix:theme|page-topo]]) no-repeat scroll center center transparent;
   height: 9px;
   clear: both;
}
#page{
   margin: 0 auto;
   width: 961px;
   background-color: #FFF;
   clear: both;
}
.pagelayout-report #page {
   width: 960px;
}

#page-content{
   background-color: transparent;
}

#conteudo-centro{
   background-color: #E6E7E8;
   border: 1px solid #E6E7E8;
   padding-bottom:30px;
}
.opera #conteudo-centro, .safari #conteudo-centro, .gecko #conteudo-centro{
    border-radius: 10px 10px 10px 10px;
}

#page-rodape{
   background: url([[pix:theme|page-rodape]]) no-repeat scroll center center transparent;
   height: 25px;
}

/*** HEADER COURSE ***/
.pagelayout-course #page-content #region-main,
.pagelayout-incourse #page-content #region-main {
   width: 760px;
}
.pagelayout-course .course-content .headingblock,
.pagelayout-incourse .course-content .headingblock{
   display:none;
}
.pagelayout-course .course-content ul.topics,
.pagelayout-incourse .course-content ul.topics {
   margin-bottom: 30px;
}
.pagelayout-course .tabtree .tabrow0,
.pagelayout-course  .tabtree,
.pagelayout-incourse .tabtree .tabrow0,
.pagelayout-incourse  .tabtree{
   margin-bottom:0px;
}
.pagelayout-course .course-content ul.topics li.section,
.pagelayout-incourse .course-content ul.topics li.section {
   margin-top:0px;
}

.block{
   background-color: transparent;
}

.corner-box{
   background-color: #E6E7E8 !important;
   border: 1px solid #E6E7E8 !important;
}

#footer-rodape{
  width: 961px;
  margin: 0 auto;
  background: url([[pix:theme|footer]]) no-repeat top left #FFF;
  height: 120px;
}
#footer-rodape .logininfo {
  text-align: right;
  padding-right: 10px;
}
#footer-rodape #info{
  width:70%;
  text-align: left;
  float:left;
  margin-top:20px;
  margin-left:15px;
}
#footer-rodape #logos{
  width:27%;
  float:right;
}
#footer-rodape #copyright{
background: url([[pix:theme|rodape_assinatura]]) no-repeat center;
vertical-align: bottom;
text-align: center;
color: #575756;
height: 100px;
float:left;
width:100%;
}

#footer-rodape .performanceinfo{
border: 1px solid #DDD;
padding: 10px;
margin: 15px 0px;
background: #F3F3F3;
font-style: italic;
}

#adminsearchquery{
    width:​ 150px !important;​
}

#region-content {
	padding: 0px 15px 0px 13px;
}

/*** Ajustes no lista de cursos ***/

.generalbox {
border-bottom: 1px solid #DDD;
border-left: none;
border-top: none;
border-right: none;
}

.coursebox .info {
margin-left: 30px;
}


/*** Ajustes no perfil de usuario ***/

.profilepicture {
margin-left: 30px;
}

/*** Ajustes no questionario ***/

.que .info {
background: transparent;
}

.othernav .singlebutton {
margin:0;
}

/*Mudancas Projeto LEGO 2013 ===================================*/

/*Tirar barra de navegacao da HOME*/
#page-site-index .navbar {display: none;}

/*Design botao ADICIONAR UMA ATIVIDADE OU RECURSO*/
.course-content .section-modchooser {margin: 30px 5px;}
.course-content .section-modchooser .section-modchooser-link {padding: 10px;background: #971B1E;color: #FFF;border-radius: 10px;}
.course-content .section-modchooser .section-modchooser-link a {color: #FFF;}

/*Ajustar distancia das Abas com o conteudo (Formato OneTopic)*/
.pagelayout-course .tabtree .tabrow0, .pagelayout-course .tabtree, .pagelayout-incourse .tabtree .tabrow0, .pagelayout-incourse .tabtree {
margin-bottom: -5px !important;
}

/*Cor de fundo dos topicos, condicional (Formato OneTopic)*/
.course-content ul.topics li.section {background: rgba(151, 27, 30, 0.6);} /*visivel*/
.course-content ul.topics li.section.current {background:  #971B1E;} /*corrente*/
.course-content ul.topics li.section.hidden {background: #CCC;} /*oculto*/

/*Fix Horizontal Scroll - CopyServices*/
body {margin:auto 0px;width:auto;}
#page-content {clear:both;float:left;overflow:hidden;position:relative;width:100%;min-width:900px;}
#page-content #region-main-box {float:left;left:200px;position:relative;width:200%;}
#page-content #region-post-box {float:left;left:50%;margin-left:-400px;position:relative;width:100%;}
#page-content #region-main-wrap {float:right;position:relative;right:100%;width:50%;}
#page-content #region-main {margin-right:0px;margin-left:400px;overflow:hidden;}
#page-content #region-pre {float:left;left:200px;overflow:hidden;position:relative;width:200px;margin-left:-50%;}
#page-content #region-post {float:left;left:0px;overflow:hidden;position:relative;width:200px;}
#page-content .region-content {overflow:hidden;padding:10px;}
#page-footer {clear:both;float:left;width:100%;}

/** Only side pre **/
.side-pre-only #page-content #region-post-box {margin-left:-200px;}
.side-pre-only #page-content #region-main {margin-left:200px;}
.side-pre-only #page-content #region-pre {left:0px;}
.side-pre-only #page-content #region-post {width:0px;}

/** Only side post **/
.side-post-only #page-content #region-main-box {left:0px;}
.side-post-only #page-content #region-post-box {margin-left:-200px;}
.side-post-only #page-content #region-main {margin-left:200px;}
.side-post-only #page-content #region-pre {width:0px;}
.has_dock.side-post-only .page-middle #region-main {margin-left:200px;}

/** Moving block when side-post-only **/
.blocks-moving.side-post-only #page-content #region-main-box {left:200px;width:200%;}
.blocks-moving.side-post-only #page-content #region-post-box {margin-left:-400px;}
.blocks-moving.side-post-only #page-content #region-main {margin-left:400px;}
.blocks-moving.side-post-only #page-content #region-pre {left:200px;width:200px;}
.blocks-moving.side-post-only #page-content #region-post {left:0px;width:200px;}

/** No blocks whatsoever **/
.content-only #page-content {min-width:0;}
.content-only #page-content #region-main-box {left:0px;}
.content-only #page-content #region-post-box {margin-left:0px;}
.content-only #page-content #region-main {margin-left:0px;}
.content-only #page-content #region-pre {left:0;width:0px;}
.content-only #page-content #region-post {width:0;}

/** Stabalise some IE6 behaviour **/
.ie6 #region-pre .region-content,
.ie6 #region-post .region-content {padding:0 !important;width:100%;float:none;}
.ie6 #region-pre .region-content .block,
.ie6 #region-post .region-content .block {width:auto;padding:0;margin:10px;}

/** Report layout **/
.pagelayout-report #page {width:auto;position:relative;}
.pagelayout-report #page-header {float:none;}
.pagelayout-report #page-content {float:none;overflow:visible;width:auto;}
.pagelayout-report #report-main-content {float:left;width:100%;}
.pagelayout-report #report-main-content .region-content {margin-left:200px;}
.pagelayout-report #report-main-content .region-content table {background-color:#FFF;}
.pagelayout-report #report-region-wrap {width:0;float:right;position:relative;left:-100%;}
.pagelayout-report #report-region-pre {width:200px;}
.pagelayout-report #page-footer {float:none;}
.pagelayout-report #page-content .region-content {overflow:visible;}

/** Correct for content only **/
.pagelayout-report.content-only #report-main-content .region-content {margin-left:0;}

/** Correct for right to left languages **/
.dir-rtl.pagelayout-report #report-main-content .region-content {margin-left:0;margin-right:200px;}
.dir-rtl.pagelayout-report #report-region-wrap {left:0;}

/** Stabalise IE6 behaviour on the report layout **/
.ie6.pagelayout-report #report-main-content {float:none;width:auto;}
.ie6.pagelayout-report #report-region-wrap {float:none;width:200px;left:auto;position:absolute;top:0;}
.ie6.pagelayout-report #report-region-pre,
.ie6.pagelayout-report #report-region-pre .block {width:100%;}


/*Fix overflow QUADRO DE NOTAS*/
.path-grade-report-grader .gradeparent, .gradetreebox, .path-grade #page-content, #page-content #region-main , #page-content, #region-content{
overflow: visible;
}
/*Icones de configuracao da tabela do quadro de notas - espacamento*/
.gradetreebox th.actions { padding-right:125px;}
#gradetreeform .action-icon {margin:5px !important;}

/*Links do cabecalho das tabelas GENERALBOX que tem fundo azul escuro*/
.generalbox .header a:link, .generalbox .header a:visited ,.generalbox .header a:hover{ color:#FFF !important;}

/*Elementos ACRESCENTAR ITEM*/
.mod-data-default-template {background: #FFF;}

/*Base de dados Layout*/
#page-content .region-content{
overflow: visible;
}
#page-mod-data-edit .region-content table{
background: #FFF;
}

/*Forum*/
#page-mod-forum-view .forumheaderlist {background: #FFF;}
